/* /////////////////////////////////////// */
/* PORTFOLIO sidlicki */
/* /////////////////////////////////////// */
/* .main-portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
} */
/* .button-portfolio {
  display: block;
  border: 1px solid #e7e9fc;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-button-portfolio);
  background-color: var(--background-color-button-portfolio);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */
/* .button-list-portfolio {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
} */
/* 
.card-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
} */

/* .container-card-description-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
} */

/* .card-portfolio-list-item {
  width: calc((100% - 48px) / 3);
} */

/* .portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
} */

/* .img-plus-overlay {
  position: relative;
  overflow: hidden;
} */

/* .overlay-portfolio {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  transform: translatey(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay-portfolio,
.portfolio-link:focus .overlay-portfolio {
  transform: translatey(0%);
} */
