:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family-family: 'Raleway', sans-serif;
  --background-color: #ffffff;
  --header-color: #2e2f42;
  --link-header-color: #434455;
  --color-button-portfolio: #4d5ae5;
  --background-color-button-portfolio: #f4f4fd;
}

button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font-family);
  color: #434455;
  background-color: var(--background-color);
}

/* //////////////////////////////////////////////////////////// */
/* CONTAINER SIZES */
/* //////////////////////////////////////////////////////////// */
.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* //////////////////////////////////////////////////////////// */
/* COMMON COMPONENTS */
/* //////////////////////////////////////////////////////////// */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.social-icons-list {
  display: flex;
  margin-top: 8px;
  gap: 24px;
  justify-content: center;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-button-portfolio);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--header-color);
}
/* //////////////////////// */
/* BACKGROUND IMAGE settings */
/* 0px - 767px */
@media screen and (max-width: 768px) {
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/mobile/bg.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/mobile/bg@2x.jpg);
  }
}
/* 
768px +
*/
@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/tablet/bg.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/tablet/bg@2x.jpg);
  }
}
/* 
1158px+
*/
@media screen and (min-width: 1158px) {
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/desktop/bg.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/desktop/bg@2x.jpg);
  }
}
/* end background image settings */

/* //////////////////////////////////////////////////////////// */
/* HEADER */
/* //////////////////////////////////////////////////////////// */
/*  */

/* 0px - 767px */
@media screen and (max-width: 767px) {
  /* off visibiluty */
  .menu {
    display: none;
  }
  .contacts-header {
    display: none;
  }
  /*  */
  /* button open menu mobile */
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu-open-btn-icon {
    stroke: #2e2f42;
  }
  /*mobile menu */
  .mobile-menu-wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--background-color);
  }
  .mobile-menu-wrapper.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 35px;
  }
  /* close button */
  .button-close-mobile-menu {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #555555;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
  }
  /* nav mobile */
  .mobile-menu-nav {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .mobile-contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .menu-mobile-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--header-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-mobile-link:hover,
  .menu-mobile-link:focus {
    color: #404bbf;
  }
  /* tel email socials */
  .mobile-contacts-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
  }
  .contacts-mobile-menu {
    font-style: normal;
  }
  .tel-mobile-link {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
  }
  .email-mobile-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }
  /* social */
  .social-icons-list-menu-mobile {
    display: flex;
    justify-content: space-between;
    max-width: 328px;
  }
}
/* 0px-427px */
@media screen and (max-width: 427px) {
  .tel-mobile-link {
    font-size: 24px;
  }
}
/*  */
/* 0px++ */
.page-header {
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--secondary-font-family-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: block;
}
.studio-span {
  color: var(--header-color);
}
.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.contacts-header {
  font-style: normal;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.contact-item {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--link-header-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover,
.contact-item:focus {
  color: #404bbf;
}
.active-page {
  color: #404bbf;
}
/*  */
/* 768px+ */
/*  */
@media screen and (min-width: 768px) {
  /* visibility off */
  .mobile-menu-wrapper {
    display: none;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  /*  */
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
  }

  .active-page::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
  }
}
/* 1158+ */
@media screen and (min-width: 1158px) {
  .contacts-list {
    gap: 40px;
    flex-direction: row;
  }
  .contact-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .logo {
    margin-right: 76px;
  }
}
/* //////////////////////////////////////////////////////////// */
/* END HEADER */
/* //////////////////////////////////////////////////////////// */
/*  */
/* //////////////////////////////////////////////////////////// */
/* SECTION 1 (HERO) */
/* //////////////////////////////////////////////////////////// */
/* 0px+ */
.main-section {
  /* background image in common components */
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--header-color);
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
}
.main-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  margin-bottom: 72px;
}
.button-order {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-button-portfolio);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}
/* 768px+ */
@media screen and (min-width: 768px) {
  .main-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

/* 1158px+ */
@media screen and (min-width: 1158px) {
  .main-title {
    margin-bottom: 48px;
  }
  .main-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
/* //////////////////////////////////////////////////////////// */
/* END SECTION 1 */
/* //////////////////////////////////////////////////////////// */
/*  */
/* //////////////////////////////////////////////////////////// */
/* SECTION 2 (DIRECTIONS) */
/* //////////////////////////////////////////////////////////// */
/* 0px+ */
/* visibility off */
.container-for-icons-in-section-two {
  display: none;
}
.section-two {
  padding-top: 96px;
  padding-bottom: 96px;
}
.directions-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
  width: 100%;
}

.card-title-direction {
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.card-description-direction {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* 768px+ */
@media screen and (min-width: 768px) {
  .direction-item {
    width: calc((100% - 24px) / 2);
  }
  .card-title-direction {
    text-align: left;
  }
}

/* 1158px+ */
@media screen and (min-width: 1158px) {
  /* visibility on */
  .direction-icon {
    display: inline;
  }
  .section-two {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .direction-item {
    width: calc((100% - 72px) / 4);
  }
  .container-for-icons-in-section-two {
    display: flex;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
  }
  .card-title-direction {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .card-description-direction {
    font-weight: 400;
  }
}
/* //////////////////////////////////////////////////////////// */
/* END SECTION 2 */
/* //////////////////////////////////////////////////////////// */
/*  */
/* //////////////////////////////////////////////////////////// */
/* SECTION 3 (WHAT ARE WE DOING) */
/* 0px+ */
/* visibility off */
.section-what-doing {
  display: none;
}
/* 768px+ */
/* no changes */
/*  */
/* 1158px+ */
@media screen and (min-width: 1158px) {
  .section-what-doing {
    display: block;
  }
  .section-what-doing {
    padding-bottom: 120px;
  }

  .what-doing-list {
    display: flex;
    gap: 24px;
  }
}
/* //////////////////////////////////////////////////////////// */
/* END SECTION 3 */
/* //////////////////////////////////////////////////////////// */
/*  */
/* //////////////////////////////////////////////////////////// */
/* SECTION 4 (OUR TEAM) */
/* 0px+ */
.section-our-team {
  background-color: #f4f4fd;
  padding-bottom: 96px;
  padding-top: 96px;
}
.our-team-list {
  justify-content: center;

  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.our-team-item {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.container-for-employee {
  padding-top: 32px;
  padding-bottom: 32px;
}
.card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.card-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-header-color);
}
/*  */
/* 768px+ */
@media screen and (min-width: 768px) {
  .our-team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
  .section-our-team .container {
    max-width: 584px;
  }
}
/*  */
/* 1158px+ */
@media screen and (min-width: 1158px) {
  .section-our-team .container {
    max-width: 1158px;
  }
  .section-our-team {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}
/* //////////////////////////////////////////////////////////// */
/* END SECTION 4 */
/* //////////////////////////////////////////////////////////// */
/*  */
/* //////////////////////////////////////////////////////////// */
/* SECTION 5 (CUSTOMERS) */
/* //////////////////////////////////////////////////////////// */
/* 0px+ */
.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
}
.customers-list-item {
  height: 88px;
  width: calc((100% - 16px) / 2);
}
.customers-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  color: #8e8f99;
  align-items: center;
  justify-content: center;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
/*  */
/* 768px+ */
@media screen and (min-width: 768px) {
  .customers-list {
    margin-left: auto;
    margin-right: auto;
    column-gap: 24px;
    row-gap: 72px;
    max-width: 552px;
  }
  .customers-list-item {
    width: calc((100% - 2 * 24px) / 3);
  }
  .section-customers .container {
    max-width: 584px;
  }
}
/*  */
/* 1158px+ */
@media screen and (min-width: 1158px) {
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    max-width: none;
  }
  .customers-list-item {
    width: calc((100% - 5 * 24px) / 6);
  }
  .section-customers .container {
    max-width: 1158px;
  }
}
/* //////////////////////////////////////////////////////////// */
/* END SECTION 5 */
/* //////////////////////////////////////////////////////////// */
/*  */
/* //////////////////////////////////////////////////////////// */
/* FOOTER */
/* //////////////////////////////////////////////////////////// */
/* 0px+ */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--header-color);
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  row-gap: 72px;
}
/* logo and description */
.logo-and-description-footer {
  max-width: 264px;
  margin-left: auto;
  margin-right: auto;
}
.logo-in-footer {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-bottom: 16px;
  font-family: var(--secondary-font-family-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio-footer-span {
  color: #f4f4fd;
}

.footer-description {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* social footer */
.footer-social-title {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-icons-list-footer {
  display: flex;
  gap: 16px;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-button-portfolio);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer {
  fill: #f4f4fd;
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #31d0aa;
}
/* subscribe */
.subscribe-container {
  width: 100%;
}
.tittle-subscribe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
}
.subscribe-field {
  background-color: transparent;
  outline: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.subscribe-field:focus {
  border-color: #4d5ae5;
}
.button-subscribe {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  max-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe:focus,
.button-subscribe:hover {
  background-color: #404bbf;
}
.icon-subscribe {
  margin-left: 16px;
  fill: #ffffff;
}
/*  */
/* 768px+ */
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    column-gap: 24px;
    justify-content: left;
    align-items: baseline;
  }

  .footer .container {
    max-width: 584px;
  }
  .logo-and-description-footer {
    margin-left: 0;
    margin-right: 0;
  }

  .logo-in-footer,
  .footer-social-title,
  .tittle-subscribe {
    margin-left: 0;
    text-align: start;
  }

  .subscribe-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    row-gap: 16px;
    width: auto;
  }
  .subscribe-field {
    min-width: 264px;
  }
  .button-subscribe {
    margin-left: 24px;
    margin-right: 0px;
  }
}
/*  */
/* 1158px+ */
@media screen and (min-width: 1158px) {
  .footer .container {
    max-width: 1158px;
  }
  .footer-container {
    column-gap: 0px;
  }
  .logo-and-description-footer {
    max-width: 264px;
    margin-left: 0;
    margin-right: 120px;
  }
  .subscribe-container {
    margin-left: 80px;
    width: auto;
  }
}
/* //////////////////////////////////////////////////////////// */
/* END FOOTER */
/* //////////////////////////////////////////////////////////// */
/*  */
/* //////////////////////////////////////////////////////////// */
/* BACKDROP */
/* //////////////////////////////////////////////////////////// */
/* 0px+ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*  */
/* modal */
.modal {
  width: 100%;
  max-width: 392px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* button close */
.button-close-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;

  padding: 0;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.button-close-modal:hover,
.button-close-modal:focus {
  background-color: #404bbf;
  border: none;
}
.button-close-modal:hover .icon-close,
.button-close-modal:focus .icon-close {
  fill: #ffffff;
}

.modal-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* form */
.input-field {
  margin-bottom: 8px;
}
.label-name {
  display: block;
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.input-wrapper {
  position: relative;
  display: block;
}
.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
  border-color: #4d5ae5;
}
.icon-input {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus + .icon-input {
  fill: #4d5ae5;
}
/* comment */
.comment-field {
  margin-bottom: 16px;
}
.contact-form-message {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.contact-form-message:focus {
  border-color: #4d5ae5;
}
/* checkbox */
.checkbox-field {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.label-privacy-policy {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-span {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox-text {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
  margin-left: 8px;
}
.contact-form-checkbox-standart:checked + .label-privacy-policy > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
  border-color: #404bbf;
}
.privacy-policy-link {
  color: #4d5ae5;
}
/* button submit */
.button-modal-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-submit:hover,
.button-modal-submit:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 371px) {
  .checkbox-text {
    margin-left: 24px;
  }
  .checkbox-span {
    height: 20px;
    width: 24px;
  }
  .contact-form-own-checkbox {
    width: 15px;
    height: 12px;
  }
}
/* 768px+ */
@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
/* //////////////////////////////////////////////////////////// */
/* END BACKDROP */
/* //////////////////////////////////////////////////////////// */
/*  */
/* //////////////////////////////////////////////////////////// */
/* PORTFOLIO*/
/* //////////////////////////////////////////////////////////// */
/* 0px+ */
/* visibility off */
.overlay-portfolio {
  display: none;
}
/*  */
.main-portfolio-section {
  padding-top: 48px;
  padding-bottom: 48px;
}
.button-list-portfolio {
  display: flex;
  column-gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.button-portfolio {
  display: block;
  border: 1px solid #e7e9fc;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-button-portfolio);
  background-color: var(--background-color-button-portfolio);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.card-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 48px 24px;
  /* justify-content: center; */
}

.card-portfolio-list-item {
  width: 100%;
}
.container-card-description-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.img-plus-overlay {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .main-portfolio-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .button-list-portfolio {
    margin-bottom: 64px;
    justify-content: center;
  }
  .button-portfolio {
    padding: 12px 24px;
  }
  .card-portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .main-portfolio-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .button-list-portfolio {
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  .overlay-portfolio {
    /* visibility on */
    display: block;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    transform: translatey(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-link:hover .overlay-portfolio,
  .portfolio-link:focus .overlay-portfolio {
    transform: translatey(0%);
  }
}
